.userInfo {
  font-size: 14px;
  width: 90%;
  padding: 10px 70px;

  text-transform: uppercase;
  color: #777777;

  &-name {
    margin: 0;
    padding: 10px;
  }
  &-id {
    padding: 10px;
  }
  &-redLine {
    width: 100%px;
    height: 2px;
    background-color: red;
    margin: 15px 0;
  }
  &-select {
    padding: 8px;
    margin: 10px 0;
    border: 1px solid grey;
    background-color: white;
  }

  &-score {
    font-size: 12px;
  }
  &-speed {
    font-size: 12px;
  }
}

.point {
  max-width: 10px;
  width: 100%;
  height: 10px;
  border-radius: 10px;
  background-color: black;
}
