@import '../../styles/colors.scss';

.CSVExporter{
    padding: 3px 5px;
    font-weight: $fw-bold;
    text-transform: uppercase;
    color: $color-primary-midl;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 130px;
    border: $border;
    svg{
        margin-right: 8px;
    }

    a{
        color: inherit;
        text-decoration: none;
    }
}

.CSVExporter:hover {
    color: $color-primary-dark;
    box-shadow: $shadow;
}