@import '../../utils/colors.scss';

.usersList {
    overflow: scroll;
    height: 65vh;
    position: relative;
}

.usersList .userItem:nth-child(even){
    background-color: $color-primary-light;
    box-shadow: $shadow;
}