@import '../../utils/colors.scss';

.subHeader{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    background-color: $color-primary-dark;
    padding: 3px 0;

    &__list{
        max-width: 845px;
        width: 100%;
        display: flex;
        justify-content: space-between;

    }
}