@import '../../../../utils/colors.scss';

.headerLink{
        text-transform: uppercase;
        list-style-type: none;
        padding: 6px 12px; 

        & a{
            width: 100%;
            height: 100%;
            text-decoration: none;
        }
        
        .active{
            padding: 6px 12px; 
            background-color: $color-bg-active;
            font-weight: $fw-bold;
            color: white;
        }
}