@import '../../utils/colors.scss';
.pageHeader{
    display: flex;
    justify-content: space-between;


    &__title{
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: $fw-bold;
        font-size: 20px;
        color: $color-primary-dark;
    }
}