@import '../../utils/colors.scss';
.header{
        display: flex;
        justify-content: space-between;
        padding: 14px 47px 14px 200px;
        
        .customSelect{
                font-size: 14px;
        }
}