//Fonts-color
$color-primary: #828282;
$color-primary-midl: #C0C0C0;
$color-primary-dark: #5B5B5B;
$color-primary-light: #F9F9F9;

$color-bg-openItem: #F2F2F2;
$color-bg-howerItem: #F7E5E5;
$color-bg-active:#A6192E; //active header link or line in user information

$color-result-1: #4285F4; //90%+ accuracy
$color-result-2: #0F9D58; //80 - 89% accuracy
$color-result-3: #E2B534; //50 - 79% accuracy
$color-result-4: #DB4437; //below 50% accuracy

//Fonts-weigth
$fw-bold: 700;

//Shadows
$shadow: 0px 1px 4px rgba(60, 52, 135, 0.15);


//border raius

$border: 15px