@import '../../utils/colors.scss';

.userItem{
    padding: 14px 25px;
    display: grid;
    grid-template-columns: 10px 300px 100px 40px 100px 112px 384px 1fr;
    gap: 25px;


    &__value3{
        align-self: center;
        justify-self: center;
    }

    &__value6{
        display: flex;
        align-items: center;
        svg{
            margin-right: 8px;
        }
    }


    &__Info{
        position: relative;
        display: flex;
        justify-content: end;
        align-items: center;
    }

}

