@import './utils/colors.scss';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: $color-primary;
}

.app{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrap{
    width: 1440px;
    display: flex;
    flex-direction: column;
}

.pageContainer{
    padding: 8px 40px 58px 40px;
    position: relative;
}

.result-exellent{
    color: $color-result-1;
}
.result-good{
    color: $color-result-2;
}
.result-weak{
    color: $color-result-3;
}
.result-unsatisfactory{
    color: $color-result-4;
}



  