@import '../../utils/colors.scss';
.boardHeader{
    padding: 14px 25px;
    display: grid;
    grid-template-columns: 10px 300px 100px 48px 100px 112px 384px 1fr;
    gap: 25px;

    &__item-flex{
        display: flex;
        justify-content:space-between;
        align-items: center;
    }

    &__checkBox{
        align-self:center;
        justify-self:start;
    }

    &__openInfo{
       display: flex;
       justify-content: center;
       align-items: center;
    }

}